@use "../abstracts/variables" as *;

.anime {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .part {
        background-color: var(--body-bg-clr-better-10);
    }
    table {
        text-align: center;
        padding: 0.5rem;
        border-collapse: collapse;
        width: min(100%, 40rem);
        td,
        th {
            padding-block: 0.5rem;
            border: 1px solid var(--text-clr);
        }
    }
    &__content {
        margin-inline: auto;
        grid-column: 1/4;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        margin-block: 2rem;
        align-items: center;
        width: min(100%, 30rem);
        @include mq(medium) {
            grid-column: 2/3;
        }
    }
}
