@use "../abstracts/variables" as *;

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__content {
        margin-inline: auto;
        grid-column: 1/4;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        margin-block: 2rem;
        align-items: center;
        width: min(100%, 30rem);
        @include mq(medium) {
            grid-column: 2/3;
        }
    }
    a {
        text-decoration: none;
        font-weight: bold;
        transition: $transition;
        &:link {
            color: #00bdca;
        }
        &:visited {
            color: #ff00f2;
        }
        &:hover {
            text-shadow: -2px 3px 1px var(--text-clr);
        }
    }
}
