@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
/* -better - darken in light mode / lighten in dark mode */
/* -worse - lighten in light mode / darken in dark mode */
:root {
  color-scheme: light;
  --input-back: #ccc;
  --input-back-better-5: #bfbfbf;
  --input-back-worse-5: #d9d9d9;
  --input-back-better-10: #b3b3b3;
  --input-back-worse-10: #e6e6e6;
  --input-back-better-15: #a6a6a6;
  --input-back-worse-15: #f2f2f2;
  --input-color: #abbe65;
  --input-color-better-5: #a1b653;
  --input-color-worse-5: #b5c677;
  --input-color-better-10: #94a947;
  --input-color-worse-10: #bfcd89;
  --input-color-better-15: #849740;
  --input-color-worse-15: #c8d59b;
  --body-bg-clr: #ffffff;
  --body-bg-clr-better-5: #f2f2f2;
  --body-bg-clr-worse-5: white;
  --body-bg-clr-better-10: #e6e6e6;
  --body-bg-clr-worse-10: white;
  --body-bg-clr-better-15: #d9d9d9;
  --body-bg-clr-worse-15: white;
  --text-clr: #000;
  --text-clr-better-5: black;
  --text-clr-worse-5: #0d0d0d;
  --text-clr-better-10: black;
  --text-clr-worse-10: #1a1a1a;
  --text-clr-better-15: black;
  --text-clr-worse-15: #262626;
  --shadow: #00eeff;
  --shadow-better-5: #00d6e6;
  --shadow-worse-5: #1af0ff;
  --shadow-better-10: #00becc;
  --shadow-worse-10: #33f1ff;
  --shadow-better-15: #00a7b3;
  --shadow-worse-15: #4df3ff;
  --card-bg-clr: #ccc;
  --card-bg-clr-better-5: #bfbfbf;
  --card-bg-clr-worse-5: #d9d9d9;
  --card-bg-clr-better-10: #b3b3b3;
  --card-bg-clr-worse-10: #e6e6e6;
  --card-bg-clr-better-15: #a6a6a6;
  --card-bg-clr-worse-15: #f2f2f2;
}

.dark_mode {
  color-scheme: dark;
  --input-back: #303030;
  --input-back-better-5: #3d3d3d;
  --input-back-worse-5: #232323;
  --input-back-better-10: #4a4a4a;
  --input-back-worse-10: #171717;
  --input-back-better-15: #565656;
  --input-back-worse-15: #0a0a0a;
  --input-color: #294797;
  --input-color-better-5: #2e50ab;
  --input-color-worse-5: #243e83;
  --input-color-better-10: #345abf;
  --input-color-worse-10: #1e346f;
  --input-color-better-15: #4167cb;
  --input-color-worse-15: #192b5b;
  --body-bg-clr: #181818;
  --body-bg-clr-better-5: #252525;
  --body-bg-clr-worse-5: #0b0b0b;
  --body-bg-clr-better-10: #323232;
  --body-bg-clr-worse-10: black;
  --body-bg-clr-better-15: #3e3e3e;
  --body-bg-clr-worse-15: black;
  --text-clr: #fff;
  --text-clr-better-5: white;
  --text-clr-worse-5: #f2f2f2;
  --text-clr-better-10: white;
  --text-clr-worse-10: #e6e6e6;
  --text-clr-better-15: white;
  --text-clr-worse-15: #d9d9d9;
  --shadow: #ffffff;
  --shadow-better-5: white;
  --shadow-worse-5: #f2f2f2;
  --shadow-better-10: white;
  --shadow-worse-10: #e6e6e6;
  --shadow-better-15: white;
  --shadow-worse-15: #d9d9d9;
  --card-bg-clr: #000;
  --card-bg-clr-better-5: #0d0d0d;
  --card-bg-clr-worse-5: black;
  --card-bg-clr-better-10: #1a1a1a;
  --card-bg-clr-worse-10: black;
  --card-bg-clr-better-15: #262626;
  --card-bg-clr-worse-15: black;
}

@-webkit-keyframes nav_opening {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav_opening {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes nav_closing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes nav_closing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@-webkit-keyframes main_opening {
  0% {
    -webkit-transform: translateY(var(--menu-height));
            transform: translateY(var(--menu-height));
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes main_opening {
  0% {
    -webkit-transform: translateY(var(--menu-height));
            transform: translateY(var(--menu-height));
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes main_closing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(var(--menu-height));
            transform: translateY(var(--menu-height));
  }
}
@keyframes main_closing {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(var(--menu-height));
            transform: translateY(var(--menu-height));
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--body-bg-clr);
  color: var(--text-clr);
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  height: 100vh;
  width: 100vw;
  line-height: 1.4rem;
  overflow-y: overlay;
}
body.dark_mode input,
body.dark_mode textarea {
  background-color: #2b2a33;
}

input {
  border: 1px solid;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.main {
  padding-bottom: 1.5rem;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
}
.main[opening] {
  -webkit-animation: main_opening 500ms forwards;
          animation: main_opening 500ms forwards;
}
.main[closing] {
  -webkit-animation: main_closing 500ms forwards;
          animation: main_closing 500ms forwards;
}
.main p {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
}

::-webkit-scrollbar {
  width: 1;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #00eeff;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 0, 0)), color-stop(18%, rgb(80, 255, 0)), color-stop(34%, rgb(46, 247, 223)), color-stop(48%, rgb(38, 78, 241)), color-stop(67%, rgb(244, 31, 148)), color-stop(85%, rgb(166, 89, 182)), to(rgb(255, 0, 0)));
  background-image: linear-gradient(rgb(255, 0, 0) 0%, rgb(80, 255, 0) 18%, rgb(46, 247, 223) 34%, rgb(38, 78, 241) 48%, rgb(244, 31, 148) 67%, rgb(166, 89, 182) 85%, rgb(255, 0, 0) 100%);
  border-radius: 2rem;
}

.header {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  -webkit-box-shadow: 0 0 5px 1px var(--shadow);
          box-shadow: 0 0 5px 1px var(--shadow);
  background-color: var(--body-bg-clr);
}
.header .heading {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  color: var(--text-clr);
  padding-left: 1rem;
}
.header .heading a {
  text-decoration: none;
  color: var(--text-clr);
}
.header .heading h1 {
  font-size: 2.5rem;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  font-family: "Smooch", cursive;
}

#theme_changer {
  margin-inline: auto 1rem;
  margin-block: auto;
  padding: 1rem;
  position: relative;
}
#theme_changer__label {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  width: 50px;
  height: 20px;
  cursor: pointer;
}
#theme_changer .background {
  width: 50px;
  height: 20px;
  background-color: var(--input-back);
  border-radius: 30px;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
}
#theme_changer .switch {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: 30px;
  width: 30px;
  background-color: var(--input-color);
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 50%;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all 600ms -200ms ease-in-out;
}
#theme_changer .switch img {
  width: 60%;
  height: auto;
  position: absolute;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
}
#theme_changer .switch .sun {
  opacity: 1;
}
#theme_changer .switch .moon {
  opacity: 0;
}
#theme_changer input {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  display: none;
}
#theme_changer input:checked + .switch {
  -webkit-transform: translatex(25px);
          transform: translatex(25px);
}
#theme_changer input:checked + .switch .sun {
  opacity: 0;
}
#theme_changer input:checked + .switch .moon {
  opacity: 1;
}

.nav {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.nav__logo [noclick] {
  pointer-events: none;
}
.nav__logo svg {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  fill: var(--text-clr);
  width: 50px;
  height: 50px;
}
.nav__menu {
  background-color: var(--body-bg-clr);
  -webkit-box-shadow: 0 0 5px 1px var(--shadow);
          box-shadow: 0 0 5px 1px var(--shadow);
  pointer-events: none;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  z-index: 1;
  display: unset;
}
.nav__menu ul {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.nav__menu ul li {
  pointer-events: auto;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  background-color: var(--body-bg-clr-better-10);
  -webkit-box-shadow: 0 0 5px 1px var(--body-bg-clr-better-5);
          box-shadow: 0 0 5px 1px var(--body-bg-clr-better-5);
  padding: 0.5rem 1rem;
}
.nav__menu ul li a {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  pointer-events: auto;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--text-clr);
}
.nav__menu[shown] {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav__menu[opening] {
  -webkit-animation: nav_opening 500ms forwards;
          animation: nav_opening 500ms forwards;
}
.nav__menu[closing] {
  -webkit-animation: nav_closing 500ms forwards;
          animation: nav_closing 500ms forwards;
}
.nav__menu[closed] {
  display: none;
}
@media screen and (min-width: 40rem) {
  .nav__logo {
    display: none;
  }
  .nav__menu {
    padding: 0 0.75rem;
  }
  .nav__menu[closed] {
    display: unset;
  }
  .nav__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav__menu ul li {
    margin: 0.75rem 0.5rem;
    border-radius: 0.7rem;
  }
  .nav__menu ul li:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: var(--body-bg-clr-better-15);
    -webkit-box-shadow: 0 0 5px 1px var(--shadow);
            box-shadow: 0 0 5px 1px var(--shadow);
  }
}

.side__photo {
  display: none;
  height: 18rem;
  margin-top: 6rem;
  margin-inline: auto;
  position: sticky;
  top: 25%;
}
.side__photo img {
  height: 100%;
}
@media screen and (min-width: 60rem) {
  .side__photo {
    display: block;
  }
}
@media screen and (min-width: 90rem) {
  .side__photo {
    height: 25rem;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  aspect-ratio: 16/9;
  height: 9rem;
  -webkit-box-shadow: 0 0 5px 1px var(--shadow);
          box-shadow: 0 0 5px 1px var(--shadow);
  margin: 1rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media screen and (min-width: 40rem) {
  .card:hover .card__container {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
.card a {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
  height: 100%;
  color: var(--text-clr);
  text-decoration: none;
}
.card__container {
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}
.card__grid {
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fit, 300px);
}
.card__photo, .card__text {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__photo {
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__photo img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: 100%;
}
.card__text {
  background-color: var(--card-bg-clr);
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 1rem;
}

.anime {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.anime .part {
  background-color: var(--body-bg-clr-better-10);
}
.anime table {
  text-align: center;
  padding: 0.5rem;
  border-collapse: collapse;
  width: min(100%, 40rem);
}
.anime table td,
.anime table th {
  padding-block: 0.5rem;
  border: 1px solid black;
}
.anime__content {
  margin-inline: auto;
  grid-column: 1/4;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(100%, 30rem);
}
@media screen and (min-width: 60rem) {
  .anime__content {
    grid-column: 2/3;
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.contact__form {
  margin-inline: auto;
  grid-column: 1/4;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(100%, 30rem);
}
@media screen and (min-width: 60rem) {
  .contact__form {
    grid-column: 2/3;
  }
}
.contact__form > * {
  margin-block: 0.5rem;
}
.contact__form input,
.contact__form textarea,
.contact__form label {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  border-radius: 0.5rem;
  width: 100%;
}
.contact__form textarea {
  height: 10rem;
}
.contact__form #message {
  resize: none;
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.links__content {
  margin-inline: auto;
  grid-column: 1/4;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: min(100%, 30rem);
}
@media screen and (min-width: 60rem) {
  .links__content {
    grid-column: 2/3;
  }
}

.footer {
  width: 100vw;
  padding: 0;
  margin-top: auto;
  background-color: var(--body-bg-clr);
  -webkit-box-shadow: 0 0 5px 1px var(--shadow);
          box-shadow: 0 0 5px 1px var(--shadow);
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
}
.footer > * {
  -webkit-transition: all 600ms -200ms ease-in-out;
  transition: all 600ms -200ms ease-in-out;
  margin: 0;
  padding: 0.15rem 0.3rem;
}
.footer p {
  color: var(--text-clr);
}

.logo {
  position: fixed;
  bottom: 35px;
  right: 1rem;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}
.logo img {
  height: 1.5rem;
}
@media screen and (min-width: 40rem) {
  .logo img {
    height: 1.75rem;
  }
}
@media screen and (min-width: 60rem) {
  .logo img {
    height: 2rem;
  }
}